.App {
  text-align: center;
  /*background-color: cornflowerblue;*/
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple
}

thead th:nth-child(1) {
  width: 18%;
}

thead th:nth-child(2) {
  width: 18%;
}

thead th:nth-child(3) {
  width: 18%;
}

thead th:nth-child(4) {
  width: 46%;
}

th, td {
  padding: 20px;
}

.newProjectButton { 
  position: relative;
  top: 25px;
}