@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: space;
  align-items: center;
  height: 100vh; /* use the whole viewport */
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple
}

thead th:nth-child(1) {
  width: 18%;
}

thead th:nth-child(2) {
  width: 18%;
}

thead th:nth-child(3) {
  width: 18%;
}

thead th:nth-child(4) {
  width: 46%;
}

th, td {
  padding: 20px;
}

.page-header {
  padding: 20px;
}

.new-project-button-container {
  margin: 10px;
}